* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

html {
    font-size: 15px;
    scroll-behavior: smooth;
}

body {
    color: #525252;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: hsl(14, 89%, 53%, 12%);
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #f24f1e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #141415;
    line-height: 1.2;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.6rem;

}

h3 {
    font-size: 1.6rem;

}

h4 {
    font-size: 1.2rem;

}

h5 {
    font-size: 0.86rem;

}

h6 {
    font-size: 0.45rem;
}

p {
    line-height: 1.7;
}

.container {
    width: 94%;
    margin: 0 auto;
}

.section {
    padding: 5rem 0 7rem;
    max-width: 100vw;
    overflow-x: hidden;
}

.section h1 {
    display: block;
    text-align: center;
    margin-bottom: 5rem;
}

img {
    width: 100%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    color: #141415;
    background-color: #ffffff;
    display: inline-block;
    margin: 1rem 0;
    transition: all 300 ease;
}

.btn:hover {
    box-shadow: 0 2rem 2rem hsl(14, 89%, 53%, 12%);

}

.btn-primary {
    background-color: #f24e1e;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #f24e1e;
    color: #312020;

}

/* ====================================NavBar====================================== */
nav {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.03);
    width: 100%;
    height: 5rem;
    background: #ffffff;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #f4f4f4;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav button {
    display: none;
}

nav h3 {
    color: #f24e1e;
}

nav .square {
    font-size: .4rem;
}

nav .container ul {
    display: flex;
    height: 100%;
}

nav .container ul li a {
    height: 100%;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141415;
    position: relative;
    transition: all 300ms ease;
}

nav .container ul li a:hover {
    color: #f24e1e;
    font-size: 1.3rem;
}

/* .active{
    background-color: #ffffff;
    color: #f24e1e !important;
} */
.activepro {
    background-color: #f24e1e;
    color: #000000 !important;
}

.activepro:hover {
    color: #ffffff !important;
}


/* ====================================Landing Section====================================== */
.landing {
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
    top: 5rem;
    padding-bottom: 10rem;
    /* background: #ffc1ae; */
}

.landing .container {
    display: grid;
    grid-template-columns: 5rem auto 29rem;
    gap: 2rem;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 5rem;
}

.socials a {
    font-size: 1.1rem;
    background: #f4f4f4;
    color: #525252;
    padding: 0.3rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
}

.socials a:hover {
    background: #f24e1e;
    color: #ffffff;
}

.info h1 {
    text-align: left;
    margin: 0;
}

.landing h3 {
    margin: 2.4rem 0 1rem;
}

.info p {
    width: 35rem;
}

.profile-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-circle {
    width: 26rem;
    height: 26rem;
    border: 1px solid #f24e1e;
    border-radius: 50%;
    position: relative;
    animation: move 45s linear infinite;
}

@keyframes move {
    to {
        transform: rotate(-360deg);
    }

}

.outer-circle i {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    background: #ffffff;
    color: #f24e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem hsl(14, 89%, 53%, 12%);
    font-size: 1.8rem;
}

.one {
    left: calc(50% - 2rem);
    top: -2rem;
}

.two {
    right: -2rem;
    top: calc(50% - 2rem);
}

.three {
    left: -2rem;
    top: calc(50% - 2rem);
}

.four {
    bottom: -2rem;
    left: calc(50% - 2rem);
}

.inner-circle {
    position: absolute;
    width: 21rem;
    height: 21rem;
    border-radius: 50%;
    overflow: hidden;
}

.inner-circle img {
    margin-top: -7rem !important;
}

/* ====================================Landing Section Ended====================================== */


/* ====================================About====================================== */

.about {
    background: #f4f4f4;
}

.about .container {
    display: grid;
    grid-template-columns: 40rem auto;
    gap: 5rem;
}

.about p {
    margin-bottom: 1rem;
}

.about .container #experience {
    display: none;
    text-align: justify;

}

.about .container .read-more {
    display: block;
    margin: 1rem 0 2rem;
    color: #f24e1e;
    cursor: pointer;
}

.about .container .read-more:hover {
    text-decoration: underline;
}

.image-about img {
    height: 80vh;
}

.infos #certificaton h2 {
    margin-bottom: 1rem;

}

/* ====================================About Ended====================================== */

/* ===============================Skills Started============================= */
.skills {
    margin-top: -3rem;
}

.skills .container {
    width: 65%;
    margin-top: -2rem;
}

.skills .items {
    display: none;
}

.skill {
    margin-bottom: 2rem;
}

.skill .head {
    background: #f24e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 1rem;
    cursor: pointer;
}

.head h4 {
    color: #ffffff;
}

.head .left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.skill .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3rem;
    padding: 1.5rem;
    background: #e6e4e4;
    margin: 0.3rem;
    transition: all 300ms ease;
}

.skill .item:hover {
    background: #e7acac;
}

.skill .item .progress-area {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.skill .item .progress-bar {
    width: 100%;
    height: 0.5rem;
    background: rgba(242, 78, 28, 0.295);
}

.skill .item .progress-bar .progress {
    height: 100%;
    width: 92%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-1 {
    width: 90%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-2 {
    width: 88%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-3 {
    width: 75%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-4 {
    width: 87%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-5 {
    width: 92%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-6 {
    width: 75%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-7 {
    width: 88%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-8 {
    width: 95%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-9 {
    width: 88%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-10 {
    width: 92%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-11 {
    width: 80%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-12 {
    width: 90%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-13 {
    width: 88%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-14 {
    width: 92%;
    background: #f24f1e;
}

.skill .item .progress-bar .progress.p-15 {
    width: 87%;
    background: #f24f1e;
}

/* ===============================Skills Ended============================= */

/* ===============================Services Started============================= */

.services {
    background: #f4f4f4;
}

.services .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.services .container .service {
    background: #ffffff;
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: all 300ms ease;
}

.services .container .service:hover {
    box-shadow: 0 3rem 3rem rgba(242, 78, 28, 0.404);
}

.services .container .service i {
    background: #f24e1e;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ffffff;
}

.servicetwo {
    background: #ffce31 !important;
}

.serviceone {
    background: #29f5a6 !important;
}

/* ===============================Services Ended============================= */

/* ===============================Project Started============================= */
.recent-work {
    padding: 5rem 0 5rem !important;

}

.recent-work h1 {
    text-align: center;
    margin: -1rem 0 1.2rem;
}

.recent-work h3 {
    margin: 1rem 0 1.2rem;
    text-decoration: underline !important;
    color: #58666c;
}

.recent-work .projects {
    display: flex;
    flex-direction: column;
}

.recent-work .projects .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    /* background-color: #f24e1e; */
}

.recent-work .projects .gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1.5%;
    cursor: zoom-in;
    transition: 0.3s;
}

.recent-work .projects .gallery img:hover {

    opacity: 0.8;
    transform: scale(1.1);
}


.modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.modal span {
    position: absolute;
    top: 0;
    right: 5rem;
    font-size: 5rem;
    color: #e6e4e4;
    cursor: pointer;
    z-index: 3;
}

.modal img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #d8b9b9;
    width: 30%;
    height: auto;
    object-fit: cover;
}

/* ===============================Project Ended============================= */

/*  ===============================Form Started============================= */
.contact {
    background-color: #141415;
    max-width: 100vw;
    padding: 2rem 0 3rem;
    margin-top: 2rem;
}

.contact .overlay {
    width: 100%;
    height: 100%;
    padding: 5rem 0 0rem;
    background-color: #141415;

}

.contact .container {
    width: 40%;
}

.contact .container h1 {
    text-align: center;
    margin: 0;
    color: #ffffff;
}

.contact .container p {
    text-align: center;
    color: #ffffff;
    opacity: 0.8;
    margin-top: 0.5rem;
}

.walink {
    color: #ffffff;
    text-decoration: underline !important;
}

.walink:hover {
    color: #f24e1e;
    text-decoration: underline !important;
}

.contact form {
    margin-top: 3rem;
}

.contact form input,
.contact form textarea {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 1.6rem;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
    transition: all 300ms ease;
    font-family: 'Montserrat' !important;
}

.contact form input:focus,
.contact form textarea:focus {
    background-color: #ffffff;
    color: #141415;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
    color: #ffffff;
}

.contact form .btn {
    width: 14rem;
    border: none;
    background: #ffffff;
    color: #141415;
    margin: 2rem auto 0;
}

.contact form .btn:hover {
    cursor: pointer;
    background: #141415;
    color: #ffffff;
    border: 2px solid white;
    border-radius: 1rem;
}

.emailheading {
    color: #ffffff;
    margin-bottom: -2.5rem;
    margin-top: 3rem;
}

.phoneNo {
    font-size: 1.2rem;
    text-decoration: underline;
}

.phonenoo {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

/*  ===============================Form Ended============================= */

/* <!-- ===============================Footer Started=============================--> */
footer {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

footer .container ul {
    display: flex;
    gap: 3rem;

}

footer .container ul a {
    color: #525252;
    transition: all 300 ease;
}

footer .container ul a:hover {
    color: #f24e1e;
    transition: all 300 ease;
}

footer .container .socialss {
    display: flex;
    gap: 2rem;
}

footer .container .socialss a {
    background: #f4f4f4;
    color: #525252;
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 300 ease;
}

footer .container .socialss a:hover {
    background: #f24e1e;
    color: #ffffff;

}

footer h3 {
    color: #f24e1e;
}

footer .square {
    font-size: .4rem;
}



/* <!-- ===============================Footer Ended=============================--> */




/* ====================================MEDIA QURIES============================= */

@media screen and (max-width:600px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.68rem;
    }

    /* =============================navbar================== */
    nav {
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    }

    nav .nameLogo {
        margin: 2rem;
        font-size: 2rem;
    }

    nav .container {
        width: 100%;
    }

    nav .container ul {
        position: fixed;
        top: 0;
        flex-direction: column;
        z-index: 3;
        width: 16rem;
        height: 100vh;
        background: #ffffff;
        box-shadow: 1rem 0 2rem hsl(14, 89%, 53%, 12%);
        display: none;
    }

    nav ul li {
        height: 4.6rem;
        width: 100%;
    }

    nav .container ul li a {
        width: 100%;
        justify-content: start;
        padding-left: 2rem;
    }

    nav .container ul li a:hover {
        padding-left: 3rem;
    }

    nav button {
        display: inline-block;
        cursor: pointer;
        background: transparent;
        color: #141415;
        margin-right: 1rem;
    }

    nav button#close-btn {
        display: none;
    }

    /* ====================================Landing Section====================================== */

    .landing {
        margin-top: 0rem;
        padding-bottom: 0rem;
        max-width: 100vw;
        overflow-x: hidden;
    }

    .landing .container {
        grid-template-columns: 1fr;
        grid-template-rows: 20% 50%;
        text-align: center;
        row-gap: 6rem;
    }

    .socials {
        flex-direction: row;
        grid-row: 3;
        justify-content: center;
        gap: 1.6rem;
        margin-top: -3rem;
        width: auto;
    }

    .info {
        width: 90%;
        margin: 0 auto;
    }

    .info h1 {
        text-align: center;
    }

    .info p {
        width: 92%;
        margin: 0 auto;
    }

    .profile-area {
        grid-row: 1;
        width: 94%;
        margin: 0 auto;
    }

    .outer-circle {
        width: 16rem;
        height: 16rem;
    }

    .inner-circle {
        width: 12.4rem;
        height: 12.4rem;
    }

    .inner-circle img {
        margin-top: -4rem !important;
    }


    .outer-circle i {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    .one {
        left: calc(50% - 1.5rem);
        top: -1.5rem;
    }

    .two {
        right: -1.5rem;
        top: calc(50% - 1.5rem);
    }

    .three {
        left: -1.5rem;
        top: calc(50% - 1.5rem);
    }

    .four {
        bottom: -1.5rem;
        left: calc(50% - 1.5rem);
    }

    /* ====================================About====================================== */
    .about .container {
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
    }

    .image-about img {
        height: 47vh;
    }

    /* ===============================Skills============================= */
    .skills .container {
        width: 94%;
    }

    /* ===============================Services============================= */
    .services .container {
        grid-template-columns: 1fr;
    }

    /* ===============================Projects============================= */
    .recent-work .container {
        width: 94%;
    }

    .recent-work h1 {
        text-align: center;
        margin: -2rem 0 1.3em;
        width: 100%;
    }

    .recent-work .projects {
        display: flex;
        flex-direction: column;
    }

    .recent-work .projects .gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .recent-work .projects .gallery img {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }

    .recent-work .projects .gallery img:hover {
        transform: scale(1.1);

    }

    .modal span {
        right: 3rem;
        font-size: 4rem;

    }

    .modal img {
        position: absolute;
        top: 55%;
        transform: translate(-50%, -50%);
        border: 1px solid #d8b9b9;
        width: 75%;
        height: auto;
        object-fit: cover;

    }

    /*  ===============================Form ============================= */
    .contact .container {
        width: 94vw;
    }

    .contact .container P {
        width: 80vw;
        margin: 0.5rem auto 0;
    }

    .phoneNo {
        font-size: 0.8rem;
        text-decoration: underline;
    }

    /* footer */

    footer .container {
        flex-direction: column;
        gap: 3rem;
    }

    footer .container ul {
        flex-direction: column;
        text-align: center;
        gap: 1.4rem;
    }
}